<div class="column">
  <div class="card has-background-success">
    <div class="card-content">
      <div class="media">
        <div class="media-content">
          <p class="title is-4"><%= value.title %></p>
        </div>
      </div>

      <div class="content"><%= value.content %></div>
    </div>
  </div>
</div>
