body {
  padding: 50px;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

html {
  width: 100vw;
  overflow-y: hidden;
}

.navbar {
  background-color: #00b7ff;
}
