<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs') %>

  <body class="container is-fullhd">
    <%- include('partials/header.ejs', { user: user }) %>
    <main>
      <div class="columns">
        <% for(let i = 0; i < doces.length; i++) { %> <%-
        include('partials/card.ejs', { value: doces[i] }) %> <% } %>
      </div>
    </main>
  </body>
</html>
